body {
    font-family: helvetica;
    background-color: #d9d9d9;
  }
  
  #meal-plan {
    margin-top: 20px;
  }
  
  .meal {
    border: 2px solid #191919;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.1);
    margin-right: 7%;
    width: 33.333%;
    transform: translate(-50%, -50%);
      
  }

  .meal h2 {
    margin-top: 0;
  }

  .ingredient {
    margin-bottom: 10px;
    border-bottom: 1px dotted #ccc;
  }

  .meal-plan {
    display: flex;
    justify-content: space-around;
  }
  

  .form-container {
    width: 30%;
    margin: auto;
  }
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-control {
    margin: 10px 0;
  }
