#mainMenu {
	margin: 0px;
	width: fit-content;
	font-size: 1em;
	position: absolute;
	padding-left: 10%;
	padding-bottom: 3%;
	margin-top: -30px;
}


#mainMenu.fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
  }

#mainMenu a {
	display: block;
	float: left;
	width: 160px;
	text-decoration: none;
	background-color: #fff;
	color: black;
	opacity: 0.4;
	font-family: "roc-grotesk-wide", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-right: 50px;
}

#mainMenu a:last-of-type {
	position: relative;
	float: right;
    margin-top: -55px;
}

#mainMenu div {
	position: relative;
	float: right;
    margin-top: -55px;
	margin-right: 10px;
	margin-left: 10px;

}


.email:hover + #mainMenu {
opacity: 1;
}

#mainMenu a:hover {
	opacity: 1;
}
#mainMenu div {
	opacity: 0.4;
}

#mainMenu div:hover {
	opacity: 1;
}



@media only screen and (max-width: 768px) {
	/* For mobile phones: */

	[class*="linkedin"] {
		position: absolute;
		top: 80px;
		left: 300px;
		opacity: 1;
		transform: scale(0.9);
	}

	#arrow {
		display: none;
	}


	#mainMenu {
		padding-left: 0;
		left: 10%; 
	}

	#mainMenu a {
	line-height: 2em;
	width: 70px;

	}


	[class*="email"] {
		position: absolute;
		top: 140px;
		left: 300px;
		opacity: 1;
		transform: scale(0.9);
	}

	[class*="email:hover"] {
		position: absolute;
		top: 140px;
		left: 300px;
		opacity: 1;
		transform: scale(0.9);
	}
}