#mainMenu {
	margin: 0px;
	width: 90%;
	font-size: 1em;
	position: relative;
	padding-left: 10%;
	padding-bottom: 3%;
	margin-top: -30px;
}


#mainMenu a {
	display: block;
	float: left;
	width: 160px;
	text-decoration: none;
	background-color: #fff;
	color: black;
	opacity: 0.4;
	font-family: "roc-grotesk-wide", sans-serif;
	font-weight: 500;
	font-style: normal;
	margin-right: 50px;
}

#mainMenu a:hover {
	opacity: 1;
}


#arrow
{
    position: absolute;
    width: 10%;
    transform: scaleY(-1);
	float: left; 
    top: 270px;
    left: 59%;
    rotate: -16deg;

}

.linkedin {
	position: absolute;
	float: left; 
    top: 228px;
    left: 68%;
	opacity: 0.5;
}

.email {
	position: absolute;
    top: 228px;
    left: 72%;
	opacity: 0.5;
}

.linkedin:hover {
	opacity: 1;
}

.email:hover {
	opacity: 1;
}


@media only screen and (max-width: 768px) {
	/* For mobile phones: */

	[class*="linkedin"] {
		position: absolute;
		top: 13%;
		right: 100px;
		opacity: 0.5;
		transform: scale(0.9);
	}

	#arrow {

		display: none;
	}


	#mainMenu {
		padding-left: 0;
		left: 10%; 
		margin-bottom: -px;
	}

	#mainMenu a {
	line-height: 2em;
	}



	[class*="email"] {
		position: absolute;
		top: 13%;
		right: 50px;
		opacity: 0.5;
		transform: scale(0.9);
	}
}