
#mainMenu {
	margin:0px;
	width:80%;
    font-size: 1em;
    position: relative;
	padding-left: 10%;
	padding-bottom: 5%;
	margin-top: -30px;
}


#mainMenu a {
	display:block;
	float:left;
	border:1px solid white;
	width:140px;
	padding:3px;
	text-decoration:none;
	background-color:#fff;
	color: black;
    opacity: 0.4;
	font-family: Helvetica;

}

#mainMenu a:hover {
    opacity: 1;
}

#arrow
{
    position: absolute;
    width: 10%;
    transform: scaleY(-1);
    top: 300px;
    right: 54%;
    rotate: -14deg;

}

.linkedin {
	display: inline-block;
	position: absolute;
    top: 270px;
    right: 51.5%;
	opacity: 0.5;
}

.email {
	display: inline-block;
	position: absolute;
    top: 270px;
    right: 48.5%;
	opacity: 0.5;
}

.linkedin:hover
{
	opacity: 1;
}

.email:hover
{
	opacity: 1;
}


@media only screen and (max-width: 768px) {
	/* For mobile phones: */
	
	[class*="linkedin"] {
		position: absolute;
		top:  13%;
		right: 100px;
		opacity: 0.5;	
		transform: scale(0.9);
	}

	#arrow {

		display: none;
	}
	


	[class*="email"] {
		position: absolute;
		top:  13%;
		right: 50px;
		opacity: 0.5;	
		transform: scale(0.9);
	}
}