body{
	margin: 0;
	padding: 0;
}

#nameheader {
	width: fit-content;
	position: relative;
	left: 10%;
	color: black;
	font-family: "roc-grotesk-extrawide", sans-serif;
	font-weight: 600;
	font-style: normal;
	font-size: 2em;
	line-height: 2em;
	padding-top: 10%;
	}

.container{
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
}

	
.doubletile {
	scroll-snap-align: top;
	display: flex;
	flex-direction: row ;
	flex-wrap: wrap; 
	position: relative;
	font-family: Helvetica;
	margin: 0;
	float: left;
	left: 10vw;
	overflow: hidden;
	width: 80vw;	
	cursor: pointer;
  }
		.wide {
			width: 59%;
			height: 350px;
			background-size: 100%;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;
			-webkit-transition: background-size 500ms ease;
			-moz-transition: background-size 500 ease;
			-o-transition: background-size 500 ease;
			-ms-transition: background-size 500ms ease;
			transition: background-size 500ms ease;
			margin: 5px;
		}
		.narrow {
			width: 39%;
			height: 350px;
			background-position: center;
			background-repeat: no-repeat;
			overflow: hidden;	
			-webkit-transition: background-size 500ms ease;
			-moz-transition: background-size 500 ease;
			-o-transition: background-size 500 ease;
			-ms-transition: background-size 500ms ease;
			transition: background-size 500ms ease;	
			margin: 5px;

		}

		.wide:hover {
			background-size: 130%;  		}
		.narrow:hover {
			background-size: 130%;  		}

		
h2 {
	color: white;
	position: absolute;	
	padding-left: 7%;
	padding-top: 4em;
	font-size: 2em;
	font-family: "roc-grotesk-extrawide", sans-serif;
	font-weight: 600;
	font-style: normal;


}

h3 {
	color: white;
	position: absolute;
	padding-left: 7%;
	padding-top: 12em;
	font-family: "roc-grotesk-wide", sans-serif;
	font-weight: 500;
	font-style: normal;
	font-size: 1em;

}



#picture1{
	background-image: url("../../images/pic01.jpg");
	background-size: 101%;
	margin-left: 0;
}

#picture2{
	background-image: url("../../images/pic02.png");
	background-size: 115%;
	margin-right: 0;

}

#picture3{
	background-image: url("../../images/pic03.png");
	background-size: 160%;
	margin-left: 0;
	margin-bottom: 0;

}

#picture4{
	background-image: url("../../images/pic04.jpg");
	background-size: 110%;
	margin-right: 0;
	margin-bottom: 0;

}


#picture1:hover {
	background-size: 150% !important;
}

#picture2:hover {
	background-size: 145% !important;  		
}

#picture3:hover {
	background-size: 240% !important;  		
}

#picture4:hover {
	background-size: 150% !important;  		
}



.progress-container {
	z-index: 10;
	width: 100vw;
	height: 8px;
	background: #ccc;
	position: fixed;
	}


.progress-bar {
  height: 8px;
  background: black;
  width: 0%;
}

.fade-out {
	opacity: 0;
	transition: opacity 0.7s;
  }
  
  .fade-in {
	opacity: 1;
	transition: opacity 0.7s;
  }
  
  @media only screen and (max-width: 768px) {
	/* For mobile phones: */
	[class*="doubletile"] {
	  width: 100vw;
	  flex-flow: column wrap;
	  padding-left: 0%;	
	  padding-top: 10%;
	  padding-right: 0%;
	  left: 0;
	}

	[class*="wide"] {
		width: 100%;
		height: 270px;
		margin: 0;
	  }

	[class*="narrow"] {
		width: 100%;
		height: 270px;
		margin: 0;
	}

	#contacts {
		display: none;
	}


	
}


#overlay{
  position:fixed;
  z-index:99999;
  top:0;
  left:0;
  bottom:0;
  right:0;
  background: white;
  transition: 1s 0.4s;
}
#progress{
  height:1px;
  background: black;
  position:absolute;
  width:0;
  top:50%;
}
#progstat{
  font-size:0.7em;
  letter-spacing: 3px;
  position:absolute;
  top:50%;
  margin-top:-40px;
  width:80%;
  text-align:center;
  color:black;
}