#picture5{
	background-image: url("../../images/photography/milky.jpg");
	background-size: 101%;
	margin-left: 0;
}

#picture6{
	background-image: url("../../images/photography/P1020384.jpg");
	background-size: 160%;
	margin-right: 0;

}

#picture7{
	background-image: url("../../images/photography/2.jpg");
	background-size: 160%;
	margin-left: 0;
	margin-bottom: 0;

}

#picture8{
	background-image: url("../../images/concreteshot.10.jpg");
	background-size: 110%;
	margin-right: 0;
	margin-bottom: 0;

}

#picture5:hover {
	background-size: 13 0% !important;
}

#picture6:hover {
	background-size: 200% !important;  		
}

#picture7:hover {
	background-size: 240% !important;  		
}

#picture8:hover {
	background-size: 150% !important;  		
}