#container
{
    left: 20%;
    width: 60%  ;
    position: absolute;
    height:fit-content;
    margin-top: 5%;
}

#container DIV
{ 
    right: 10px;
    font-family: Helvetica;
    margin-bottom:50px; 
    padding:30px; 
    background-color: #f9f9f9; 
}

.hideme
{
    opacity:0;
}
.vl {
    padding-left: 10px;
    height: 23.5em;
    float: left;
    border-left: thick solid black;
  }

  .v2 {
    height: 23.5em;
    float: right;
    border-left: thick solid black;
  }

